/* Mixins */
/* @mixin text--uppercase {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.2px;
} */

.page {
    height: 100%;
    background-color: #0e0e0e;
}

html {
    --main-bg-color: #0e0e0e;
    --main-font-color: #b9b5b5;
    --main-highlight-color: #fff;
    --main-link-active-color: #fff;
    --main-border-color: #8080804d;
    --activity-bg-color: #0e0e0e;
    --footer-height: 100px;
    --main-bg-color-dark: #202020; 
  }

* {
  box-sizing: border-box;
  background-color: var(--activity-bg-color);
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
  color: var(--main-highlight-color);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  color: var(--main-font-color);
}


/*  Image CSS */

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    color:#fff

    
}

/* Buttons */
.button {
  padding: 15px 10px;
  background: transparent;
  border: 1px solid var(--main-font-color);
  border-radius: 20px;
  color: var(--main-font-color);
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.3s;
  letter-spacing: 1.2px;
}

/* :hover {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
} */


/* Links */
.link {
  display: inline-block;
  color: var(--main-font-color);
  padding: 5px;
  text-decoration: none;
  transition: all 0.5s;
}
  
  /* &:visited,
  &:focus
  &:hover,
  &:active {
    color: var(--main-font-color);
  }
  
  &:hover,
  &:active,
  &:focus {
    color: var(--main-link-active-color);
  }
} */

/* Main Wrapper */
.wrapper {
  display: grid;
  background: var(--main-bg-color);
  grid-gap: 10px;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-areas: 
    "main"
    "sidebar";
  @media (min-width: 800px) {
    grid-template-columns: 200px auto;
    grid-template-areas:
    "sidebar main";
  }
  @media (min-width: 1200px) {
    grid-template-columns: 200px auto 200px;
     grid-template-areas:
       "sidebar main social";
  }
}

.sidebar-music {
    background: var(--activity-bg-color);
    grid-area: sidebar;
}

.sidebar li {
    line-height: 2;
}

.sidebar-header {
    margin-bottom: 5px;
}


/* Music List Wrapper */
/* .music-list {
  display: grid;
  grid-template-columns: minmax(200px, auto);
  grid-gap: 20px;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  @media (min-width: 800px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  
  @media (min-width: 1600px) {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
} */

/* @media screen and (min-width: 768px) {
    .music-list {
      grid-template-columns: repeat(3, 1fr);
    }
  } */

  .musiclist-main {
    width: 90vw;
    max-width: 1300px;
    margin: 2rem auto;
    display: grid;
    gap: 3rem;
  }
  
  @media screen and (min-width: 768px) {
    .musiclist-main {
      grid-template-columns: repeat(4, 1fr);
    }
  }

/* Music List Items */
.music-list-item-main {
  padding: 10px;
  min-height: 250px;
  max-width: 300px;
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* opacity: 0; 
  transition: opacity 0.4s ease-in; 
  display: flex;  */
  /* align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  position: relative;
  cursor: pointer;  */
}

/* Main Navigation */
.main-nav {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--main-border-color);
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;
}

/* Song Creator */
.song-title-main {
    font-size: 24px;
    color: white;
    margin-bottom: 8px;
  }
  
  .song-creator-main {
    font-size: 16px;
    color: white;
  }
.artistlist {
    width: 90vw;
    max-width: 1300px;
    margin: 2rem auto;
    display: grid;
    gap: 3rem;
}

@media screen and (min-width: 768px) {
    .artistlist {
        grid-template-columns: repeat(5, 1fr);
    }
}

.artist-pic {
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    max-width: 200px;
    max-height: 200px;
}

/* Music List Items */
.artist-list-item {
    padding: 5px;
    min-height: 250px;
    max-width: 250px;
    background-size: cover;
    background-repeat: no-repeat;

}
